<section class="wrapper">
    <div class="inner">
        <header class="special">
            <h2>{{ content.field_testimonial_title }}</h2>
            <p>{{ content.field_testimonial_description }}</p>
        </header>
        <div class="testimonials">
            {{ content.field_testimonial_card }}
        </div>
    </div>
</section>